@import './variables.scss';
@import './mixin.scss';

html,
body .app {
  color: #333333;
  font-family: Arial, Helvetica, 'STHeiti STXihei', 'Microsoft YaHei', Tohoma, sans-serif;
  background-color: $background-color;
}

.app-container {
  padding-bottom: 50px;
}
// ------------自定义------------------------
.container {
  position:relative;
}

.navBar {
  position:fixed;top:0px;width:100%
}

.top-margin {
  margin-top: 50px;
}


